<div class="film">
    <nav id="nav-header" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Film</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/lab06" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about" routerLinkActive="active" >About</a>
            </li>
        </ul>
        </div>
</nav>
    <div class="content row" *ngIf="loaded | async; else loading">
            <div class="card col-md-3 col-sm-4" *ngFor="let film of films.results" style="border: 1px solid #ddd; margin-bottom: 10px; padding: 0; margin: 1em; border-radius: 5px">
                <img src="https://picsum.photos/300/150" style="border-radius: 5px" class="card-img-top" alt="..." [routerLink]="'/lab06/' + film.episode_id">
                <div class="card-body text-left" style="padding-left: 2px">
                    <h5 class="card-title text-primary mb-0">{{ film.title }}</h5>
                    <p  style="font-style: italic" class="card-text mb-0" style="font-size: 0.8em">Director: {{ film.director }}</p>
                    <p  style="font-style: italic" class="card-text mb-0" style="font-size: 0.8em">Producer: {{film.producer }}</p>
            </div>
        </div>
       
    </div>
</div>

<ng-template #loading>
        <p>Loading</p> 
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
</ng-template>