<ul class="nav nav-tabs header">
        <li class="nav-item">
          <a class="nav-link" routerLink="/lab01/exercise/1"  routerLinkActive="active">Exercise 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lab01/exercise/2" routerLinkActive="active">Exercise 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lab01/exercise/3" routerLinkActive="active">Exercise 3</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/lab01/exercise/4" routerLinkActive="active">Exercise 4</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/lab01/exercise/5" routerLinkActive="active">Exercise 5</a>
        </li>
</ul>