<div class="row about">
    <div class="card col-sm-3" style="width: 18rem;">
        <img src="https://lh3.googleusercontent.com/2LonCJDjlRXFEqWow8nk-wuQL8zHd3rtqrPHxc8VpjMK8lcitq4EfhSstv2w4AxpHovsgnrmCChUywnj-ursTHswtX6XBgR3ap-550thhaEd6a63cAoF45d1EvnvVEomTDdZn5Q5_hNu3-tllF8r0oQeYyUkNJ7hp6sQE1rTdK4GI-4ihZ5EdccCZm4WTcjlpUPN2ggIwOIAbwjRZMgCwQGeT9BhA8rirrYMeWD0pdWwt3drYwMx60apm8JBEPow0EihLAF_4zQW56VKE6HTiqRMExr15pW-55m6XMd1jQ-gyedZruN4S-b1S1LlCX4E0JoUx7M8meFVGqhBL2dzv9ru02hhedRghuKbDxeMrD8SiRCRHSpE5lYSXDujljUgPl0skjhcldEJvmngwPn1CnKc1YGtnqAYWWqoQRz1ynBxxWpmbbCru_TYL0agv2r7iMGKX-HnrTjC1AUumYnM-B0wYNUABGDPhuvwdySSokZ_4BQYCbXARTbdU-NVeyBnFgPI5zWkvuC7lt75wbKBu08-PJhUEwM3qw2N5SCLqIOA_qL8WtUgk3k3ADnxt7B-WrgDr577VL-T0S_KTpgdyP1e9f9TxPWGtoLVUf8s2WZ8DyYkC8vXCNA61B_I8HZ-kFaMPGrejn78yEwiCDdAdR3kennaodOpwU4aTy_tBYTzPyMIe3LfrqM=w689-h918-no" class="card-img-top" alt="...">
        <div class="card-body">
        <div class="my-name">Trần Tâm Tỏ</div>
        </div>
    </div>
    <div class="info">
        <div><strong>Name: </strong><span>{{ myInfo.lastName + " " + myInfo.firstName}}</span></div>
        <div><strong>Birthday: </strong>{{ myInfo.birthday }}</div>
        <div><strong>Phone Number: </strong><a href="tel:+84{{myInfo.phone}}"></a>0{{ myInfo.phone }}</div>
        <div><strong>Email: </strong><a href="mailto:{{myInfo.email}}">{{ myInfo.email }}</a></div>
        <div><strong>Address: </strong>{{ myInfo.address }}</div>
    </div>
</div>