<div class="row about">
    <div class="card col-sm-3" style="width: 18rem;">
        <img src="assets/images/me.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <div class="my-name">Trần Tâm Tỏ</div>
        </div>
    </div>
    <div class="info">
        <div><strong>Name: </strong><span>{{ myInfo.lastName + " " + myInfo.firstName}}</span></div>
        <div><strong>Birthday: </strong>{{ myInfo.birthday }}</div>
        <div><strong>Phone Number: </strong><a href="tel:+84{{myInfo.phone}}"></a>0{{ myInfo.phone }}</div>
        <div><strong>Email: </strong><a href="mailto:{{myInfo.email}}">{{ myInfo.email }}</a></div>
        <div><strong>Address: </strong>{{ myInfo.address }}</div>
    </div>
</div>