<div  class="card" style="position: sticky; top: 120px">
    <div class="card-body">
            <form action="" class="form-inline">
                <label for="filter" ng-model="searchText">Filter by:</label>
                <input type="text" class="form-control" name="filter" id="filter">
            </form>        
        </div>          
</div> 
        <div class="card border-primary mb-3 mt-3" id="body-lab"  style="position: sticky; top: 230px">
                <div class="card-header bg-primary">
                        <i class="far fa-address-book"></i>
                        Categories
                    </div>
                    <div class="card-body">
                    <table class="table">
                        <tbody>
                            <td></td>
                        </tbody>
                    </table>
                </div>
        </div>  