<h1>My Guitar Shop</h1>
<hr>
<h2>You cart</h2>
<p>To remove an item your cart, change its quantity to 0</p>
<table class="table">
    <thead>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </thead>
    <tbody>
        <tr></tr>
        <tr>
            <td class="text-right" colspan="3">Subtotal: </td>
            <td></td>
        </tr>   
        <tr>
            <td colspan="4" class="text-right"><button class="btn btn-success">Update your cart</button></td>
        </tr>
    </tbody>
    <p>Return to: <a routerLink="/lab08">Home</a></p>
    <p>Return to: <a routerLink="#">Guitars</a></p>
    <p>Proceed to: <a routerLink="/lab08/checkout">Checkout</a></p>
</table>
