<app-nav-change-exercise></app-nav-change-exercise>
<div class="row container">
    <div class="side-bar col-sm-3">
        <div class="btn-toggle">
            <span></span>
        </div>
        <div class="user-img">
            <img src="/assets/images/bootstrap-stack.png" alt="bootstrap" width="70px">
            <p mt-2>
                bootstrap
            </p>
        </div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">Home</button>
            <button type="button" class="list-group-item list-group-item-action">Employees</button>
            <button type="button" class="list-group-item list-group-item-action">Projects</button>
            <button type="button" class="list-group-item list-group-item-action">Skills</button>
            <button type="button" class="list-group-item list-group-item-action">Interns</button>
            <button type="button" class="list-group-item list-group-item-action">Topic</button>
            <button type="button" class="list-group-item list-group-item-action">Courses</button>
            <button type="button" class="list-group-item list-group-item-action">Topic Course</button>
            <button type="button" class="list-group-item list-group-item-action">Classes</button>
            </div>
    </div>
    <div class="col-sm-9 content">
        <div class="route"><a routerLink="/lab01/exercise/5">items</a> / item </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light nav-ex5">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                

                <span class="mr-4">Show</span>
                <div>
                    <select class="form-control form-control-md mr-3">
                        <option  *ngFor="let employee of listEmployees">{{employee.id}}</option>
                    </select>
                </div>
                <div class="button-group" style="margin-left: 20%">
                    <button class="btn btn-primary mr-1">Excel</button>

                    <button class="btn btn-primary">PDF </button>
                </div>
                <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchText">
                    </form>
                </div>
                <button class="btn btn-primary add-employee">+ Add Employee</button>
            </nav>
            <table class="table table-bordered">
                <thead>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor='let employee of listEmployees | paginate: config | filter:searchText'>
                    <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.email }}</td>
                        <td>
                           <form action="" class="form-inline">
                               <button class="btn btn-primary btn-sm">View</button>
                               <button class="btn btn-danger btn-sm">Delete</button>
                           </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>

