<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#"><img src="assets/images/favicon.ico" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  mr-4">
          <a class="nav-link text-light" href="#">Home</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link text-light" href="#">About</a>
        </li>
        <li class="nav-item dropdown mr-4">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lab
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/lab01">Lab 01</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/lab02">Lab 02</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>