<app-nav-lab03></app-nav-lab03>

<div class="row mt-4">
    <div class="col-sm-9 row">
        <div class="card col-4" style="border: 1px solid;" *ngFor="let product of listProducts" >
            <img [src]='product.imageUrl' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <a href="#" class="btn btn-primary" [routerLink]='["/lab03/product/", product.id]'>Detail</a>
            </div>
        </div>

    </div>
    <div class="col-sm-3 mr-0">
            <app-side-bar-lab03></app-side-bar-lab03>
        </div>
</div>
